<div>
  <h3 *ngIf="editMode" class="text-secondary">
    Editar igreja
  </h3>
  <h3 *ngIf="!editMode" class="text-secondary">
    Criar nova igreja
  </h3>
  <form [formGroup]="form" *ngIf="form">
    <div>
      <caption>Dados</caption>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="Nome da igreja">
            <label class="form-label" for="usr">Nome</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="E-mail">
            <label class="form-label" for="inputEmail">E-mail</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input formControlName="cnpj" type="text"  class="form-control" id="floatingInput" placeholder="XX.XXX.XXX/0001-XX" ui-mask="999.999.999-99">
            <label class="form-label" for="typeNumber">CNPJ Nº</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating mb-3">
            <input formControlName="phone" type="tel"  class="form-control" id="floatingInput" placeholder="(XX)XXXXX-XXXX">
            <label class="form-label" for="typePhone">Telefone</label>
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <caption>Endereço</caption>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input formControlName="street" type="text" class="form-control" id="floatingInput" placeholder="Rua ...">
              <label class="form-label" for="inputAddress">Rua</label>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-floating mb-3">
              <input formControlName="number" type="text" class="form-control" id="floatingInput" placeholder="XXXX">
              <label class="form-label" for="typeNumber">Número</label>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-floating mb-3">
              <input formControlName="apartment" type="text"  class="form-control" id="floatingInput" placeholder="Casa, Apartamento, etc...">
              <label class="form-label" for="inputAddress1">Complemento</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-floating mb-3">
              <input formControlName="district" type="text"  class="form-control" id="floatingInput" placeholder="Bairro">
              <label class="form-label" for="inputDistrict">Bairro</label>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="form-floating mb-3">
              <input formControlName="city" type="text"  class="form-control" id="floatingInput" placeholder="Cidade">
              <label class="form-label" for="inputCity">Cidade</label>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-floating mb-3">
              <input formControlName="state" type="text"  class="form-control" id="floatingInput" placeholder="Estado">
              <label class="form-label" for="inputCity">Estado</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-floating mb-3">
              <input formControlName="zip_code"type="text"  class="form-control" id="floatingInput" placeholder="XXXXX-XXX">
              <label class="form-label" for="inputZip">CEP</label>
            </div>
          </div>
        </div>
      </div>
      </div>
      <hr>
    <div *ngIf="editMode" class="d-flex flex-row gap-3">
        <button  (click)="onSubmit()" type="button" class="btn btn-link">
          <span>
            Alterar
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </span>
        </button>
        <button (click)="goBack()" type="button" class="btn btn-link">
          <span>
            Voltar
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </span>
        </button>
    </div>
    <div *ngIf="!editMode" class="d-flex flex-row gap-3">
        <button  (click)="onCreate()" class="btn btn-link">
          <span>
            Criar
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </span>
        </button>
        <button (click)="goBack()" class="btn btn-link">
          <span>
            Voltar
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </span>
        </button>
    </div>
  </form>
</div>


