<div class="row">
  <div class="col-sm-3 navbar">

    <a routerLink="/" class="sidebar-toggler">
      <title class="omni">Omni</title>
      <title class="church">Church</title>
    </a>

    <ul class="nav" id="menu">
      <li class="nav-item">
        <a routerLink="/" class="nav-link align-middle px-0 color">
          <i class="fs-6 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle color">
            <i class="fs-6 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Membros</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle color">
          <i class="fs-6 bi-building"></i>
          <span class="ms-1 d-none d-sm-inline">Congregações</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle color">
          <i class="fs-6 bi-flag"></i>
          <span class="ms-1 d-none d-sm-inline">Setores</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/churches" class="nav-link px-0 align-middle color">
          <i class="fs-6 bi-flag"></i>
          <span class="ms-1 d-none d-sm-inline">Igrejas</span>
        </a>
      </li>
    </ul>

  </div>
  <div class="col-sm-9 content">
    <router-outlet></router-outlet>
  </div>
</div>



