
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 navbar">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">

        <a routerLink="/" class="d-flex align-items-center pb-3 mb-md-0 text-decoration-none">
          <title class="omni fs-5 d-none d-sm-inline">Omni</title>
          <title class="church fs-5 d-none d-sm-inline">Church</title>
        </a>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLink="/" class="nav-link align-middle px-0 color">
              <i class="fs-6 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle color">
              <i class="fs-6 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Membros</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle color">
              <i class="fs-6 bi-building"></i>
              <span class="ms-1 d-none d-sm-inline">Congregações</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle color">
              <i class="fs-6 bi-flag"></i>
              <span class="ms-1 d-none d-sm-inline">Setores</span>
            </a>
          </li>
          <li>
            <a routerLink="/churches" class="nav-link px-0 align-middle color">
              <i class="fs-6 bi-flag"></i>
              <span class="ms-1 d-none d-sm-inline">Igrejas</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
