<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav flex-column m-4" id="menu">
      <li class="nav-item" >
        <a routerLink="/" class="nav-link align-middle px-0">
          <i class="fs-6 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle">
            <i class="fs-6 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Membros</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle">
          <i class="fs-6 bi-building"></i>
          <span class="ms-1 d-none d-sm-inline">Congregações</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/sectors" class="nav-link px-0 align-middle">
          <i class="fs-6 bi-flag"></i>
          <span class="ms-1 d-none d-sm-inline">Setores</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/churches" class="nav-link px-0 align-middle">
          <i class="fs-6 bi-asterisk"></i>
          <span class="ms-1 d-none d-sm-inline">Igrejas</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
