@use "./components/navbar";
@use "./components/header";
@use "./components/dashboard";

@use "./components/church_detail";
@use "./components/church_list";
@use "./components/church_edit";

@use "./components/sector-list";

@import 'vars';
@import 'mixins';


html, body { height: 100%; }
body { margin: 0; }

*{font-family: 'Manrope', sans-serif; }

#wrapper {
  width: 100%;
  background: $nav-color;
  height: 100%;
  margin-top: -50px;
  position: fixed;
  overflow: auto;
}

.content-wrapper {
  position: absolute;
  height: 100%;
  top: -50px;
  margin-top: 50px;
  padding: 50px 15px;
  z-index: 1;
  background: $bg-content-color;
  width: -webkit-fill-available;
}

@media (min-width: 200px) {
  .content-wrapper {
    margin-left: 60px;
  }
}

@media (min-width: 576px) {
  .content-wrapper {
    margin-left: 260px;
  }
}





