@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
};

@mixin button-black() {
  color: $color-200;
  background-color: $bg-content-color;
  &:hover {
    color: $color-900;
    background-color: $color-200;
  }
}

@mixin button-danger() {
  color: $color-100;
  background-color: $color-danger;
  &:hover {
    color: $color-900;
    background-color: $color;
  }
}

@mixin button-light() {
  color: $color-700;
  background-color: $color-100;
  border: 1px solid $color-200;
  &:hover {
    color: $color-100;
    background-color: $color-300;
    border: 1px solid transparent;
  }
  &:focus {
    border: 1px solid transparent;
    background-color: $color-700;
  }
}
