@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
};

@mixin button-dark() {
  color: $color-200;
  &:hover {
    color: $color-900;
  }
}

@mixin button-danger() {
  color: $color-danger;
  &:hover {
    color: $color-900;
  }
}

@mixin button-light() {
  color: $color-200;
  text-decoration: none;
  &:hover {
    color: $color-300;
    text-decoration: underline;
  }
}
