

// colors
$nav-color: #0B1425;
$nav-border: #172440;
$bg-content-color: #080C18;

$color-100: #CED4DF;
$color-200: #7886A0;
$color-300: #666FF7;
$color-700: #172440;
$color-800: #0B1425;
$color-900: #080C18;
$color-danger: #dc3545;
