@import '../vars';
@import '../mixins';

.table {
  a {
    display: inline;
    text-decoration: none;
    display: block;
    color: $color-800;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-dark {
  @include button-light;
}
