@import '../vars';
@import '../mixins';

.church-list {
  .table {
    a {
      display: inline;
      text-decoration: none;
      display: block;
      color: $color-800;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .btn {
    @include button-light;
  }
}
