@import '../vars';
@import '../mixins';

.header {
  height: 50px;
  border-radius: 0px;
  background-color: $nav-color;
  border-bottom: solid 1px $nav-border;
  padding: 0 20px;
  z-index: 10;
  position: relative;

  @include flex(space-between, center, row);

  &-brand {
    color: #CED4DF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;

    span {
      color: #666FF7;
      font-weight: 200;
    }
    &:hover {
      color: #666FF7;
    }
  }

  .btn {
    @include button-black;
  }
}
