@import '../vars';

.content {
  border-radius: 12px;
  background-color: #CED4DF;
  padding:25px;
  margin-top: 15px;
}

.color-txt-bt {
  color:#7886A0;
  &:hover {
    color: #666FF7;
  }
}

#wrapper {
  width: 100%;
  background: $nav-color;
  height: 100%;
}

.content-wrapper {
  height: 500px;
  padding: 15px 15px;
  background: $bg-content-color;
  margin-left: 260px;
}

.sidebar-collapse .nav > li > a {
  color:#7886A0;
  text-shadow:none;
  &:hover{
    color: #666FF7;
  }
}

.nav > li > a > i {
    margin-right:10px;
}

.navbar-side {
  position: absolute;
  z-index: 1;
  width: 260px;
  top: -50px;
  margin-top: 50px;
  padding-top: 50px;
  height: 100%;
}



