@import '../vars';
@import '../mixins';

.content {
  border-radius: 6px;
  background-color: #FFFFFF;
  padding:25px;
  margin-top: 15px;
  border: solid 1px #7886A0;
}

.color-txt-bt {
  color:#7886A0;
  &:hover {
    color: #666FF7;
  }
}

.sidebar-collapse .nav > li > a {
  color:#7886A0;
  text-shadow:none;
  &:hover{
    color: #666FF7;
  }
}

.nav {
  position: fixed;
}

.nav > li > a > i {
    margin-right:10px;
}

.navbar-side {
  position: absolute;
  z-index: 1;
  width: 260px;
  top: -50px;
  margin-top: 50px;
  padding-top: 50px;
  height: 100%;
  border-right: solid 1px $nav-border;
}




