<div class="sign-in">
  <div class="container">
    <div class="row logo">
      <div class="col">
        <div class="text">
          <img src="https://auth.services.adobe.com/img/generic/adobe_logo_white.svg" alt="">
          <p>Sign in or create an account</p>
        </div>
      </div>
      <div class="col">
        <div class="login">
          <h1>Fazer Login</h1>
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="Nome da igreja">
            <label class="form-label" for="usr">E-mail</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="Nome da igreja">
            <label class="form-label" for="usr">Senha</label>
          </div>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
    </div>
  </div>

</div>
