<div *ngIf="church$ | async as church" class="church-detail">
  <h2 class="h2 bold text-secondary">{{ church.name }}</h2>
  <hr />
  <caption>
    Dados
  </caption>
  <div class="row">
    <div class="col-12 col-md-4">
      <p>Nome: {{ church.name }}</p>
    </div>
    <div class="col-12 col-md-4">
      <p>Email: {{ church.email }}</p>
    </div>
    <div class="col-12 col-md-4">
      <p>CNPJ: {{ church.cnpj }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <p>Telefone: {{ church.phone }}</p>
    </div>
    <div class="col-12 col-md-4">
      <p>Criação: {{ church?.createdAt | date }}</p>
    </div>
    <div class="col-12 col-md-4">
      <p>Última atualização: {{ church?.updatedAt | date }}</p>
    </div>
  </div>
  <hr />
  <caption>
    Endereço
  </caption>
  <div *ngIf="church.address as address">
    <div class="row">
      <div class="col-12 col-md-4">
        <p>Rua: {{ address.street }}, Nº {{ address.number }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p>Complemento: {{ address?.apartment }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p>Bairro: {{ address.district }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <p>Cidade: {{ address.city }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p>Estado: {{ address.state }}</p>
      </div>
      <div class="col-12 col-md-4">
        <p>CEP: {{ address.zip_code }}</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex flex-row gap-3">
    <button routerLink="/churches" type="button" class="btn btn-link">
      Voltar
    </button>
    <button
      [routerLink]="['/churches/edit', church.id]"
      type="button"
      class="btn btn-link"
    >
      <span>
        Editar
      </span>
    </button>
    <button (click)="onDelete()" type="button" class="btn btn-link link-danger">
      <span class="label">
        Apagar
      </span>
    </button>
  </div>
</div>
