<h2>Igrejas</h2>
<table class="table table-striped" dataSource="churches">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">CNPJ</th>
    <th scope="col">Telefone</th>
    <th scope="col">Cidade</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <th scope="row">{{ church.id }}</th>
    <td scope="row">{{ church.name }}</td>
    <td scope="row">{{ church.cnpj }}</td>
    <td scope="row">{{ church.phone }}</td>
    <td scope="row">{{ church.city }}</td>
    <td scope="row">
      <a class="btn edit" href="#"><i class="bi bi-pencil-square"></i></a>
  </td>
  </tr>
  </tbody>
</table>

<button href="#" type="button" class="btn btn-dark">Editar</button>
