<div *ngIf="church$ | async as church" class="church-detail">
  <h2 class="h2 bold">{{ church.name }}</h2>
  <dl class="row">
    <hr>
    <dt class="col-sm-3 bold mb-3">Dados</dt>
    <dd class="col-sm-9">
      <p>Nome: {{ church.name }}</p>
      <p>Email: {{ church.email }}</p>
      <p>CNPJ: {{ church.cnpj }}</p>
      <p>Telefone: {{ church.phone }}</p>
      <p>Criação: {{ church?.createdAt | date }}</p>
      <p>Última atualização: {{ church?.updatedAt | date }}</p>
    </dd>
  </dl>
  <hr>
  <div *ngIf="church.address as address">
    <dl class="row">
      <dt class="col-sm-3 bold mb-3">Endereço</dt>
      <dd class="col-sm-9">
        <p>Rua: {{ address.street }}, Nº {{ address.number }}</p>
        <p>Complemento: {{ address?.apartment }}</p>
        <p>CEP: {{ address.zip_code }}</p>
        <p>Bairro: {{ address.district }}</p>
        <p>Cidade: {{ address.city }}</p>
        <p>Estado: {{ address.state }}</p>
      </dd>
    </dl>
    <hr>
  </div>
  <div class="d-flex flex-row">
    <button [routerLink]="['/churches/edit', church.id]" type="button" class="btn btn-dark m-2">Editar</button>
    <button href="#" type="button" class="btn btn-danger m-2">Apagar</button>
  </div>
</div>

