<div class="table-responsive">
  <h2 class="h2 bold text-secondary">Igrejas</h2>
  <table
    class="table table-striped table-hover caption-top"
    dataSource="churches"
  >
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Telefone</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let church of churches">
        <th scope="row">{{ church.id }}</th>
        <td scope="row">
          <a [routerLink]="[church.id]">
            {{ church.name }}
          </a>
        </td>
        <td scope="row">{{ church.cnpj }}</td>
        <td scope="row">{{ church.phone }}</td>
        <td scope="row">{{ church?.address?.city }}</td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/churches/create" type="button" class="btn btn-link">
    <span>
      Criar nova igreja
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
    </span>
  </button>
</div>
