<div class="table-responsive">
  <h2 class="h2 bold text-secondary">Igrejas</h2>
  <table
    class="table table-striped table-hover caption-top"
    dataSource="churches"
  >
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Telefone</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let church of churches">
        <th scope="row">{{ church.id }}</th>
        <td scope="row">
          <a [routerLink]="[church.id]">
            {{ church.name }}
          </a>
        </td>
        <td scope="row">{{ church.cnpj }}</td>
        <td scope="row">{{ church.phone }}</td>
        <td scope="row">{{ church?.address?.city }}</td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/churches/create" type="button" class="btn btn-link">
    <span>
      Criar nova igreja
    </span>
  </button>
</div>
