<h2>Igrejas</h2>
<table class="table table-striped" dataSource="churches">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">CNPJ</th>
    <th scope="col">Telefone</th>
    <th scope="col">Cidade</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let church of churches; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ church.name }}</td>
    <td>{{ church.cnpj }}</td>
    <td>{{ church.phone }}</td>
    <td>{{ church.city }}</td>
  </tr>
  </tbody>
</table>
