<h2>Igrejas</h2>
<table class="table table-striped" dataSource="churches">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">CNPJ</th>
    <th scope="col">Telefone</th>
    <th scope="col">Cidade</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let row of churches; let i = index">
    <th scope="row">{{ row.id }}</th>
    <td scope="row">{{ row.name }}</td>
    <td scope="row">{{ row.cnpj }}</td>
    <td scope="row">{{ row.phone }}</td>
    <td scope="row">{{ row.city }}</td>
    <td scope="row">
      <a class="btn edit" href="#"><i class="bi bi-pencil-square"></i></a>
  </td>
  </tr>
  </tbody>
</table>

<button href="#" type="button" class="btn btn-dark">Criar nova igreja</button>
